@* @using BlogWeb.Mvc.Models.ViewModels.User
@model List<UserClaimModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda - Benim Blogum</title>
    <link rel="stylesheet" href="/About/about.css">
    <style>
        /* İçerik stilleri */
        .container {
            background-color: #1a1a1a;
            color: white;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        /* social-links div'indeki özellikleri */
        .social-links {
            text-align: center;
            margin-top: 30px;
        }
            /* social-links div'indeki paragraf özellikleri */
            .social-links p {
                margin-bottom: 10px;
            }

            /* social-links div'indeki a tag'i özellikleri */
            .social-links a {
                margin-right: 10px;
            }

        /* img etikeitinin stilleri */
        .profile-picture {
            background-color: #1a1a1a; /* Siyahın hafif gri tonu */
            color: white; /* Yazı rengi beyaz */
            border-radius: 50%; /* Yuvarlak kenarlar */
            width: 200px;
            height: 200px;
            object-fit: cover; /* Resmi kırpma */
            margin: 0 auto 20px; /* Alt boşluk ve ortalamak için */
            display: block; /* Blok element */
            border: 5px solid white; /* Beyaz çerçeve */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Gölge */
        }

        /* Liste */
        ul {
            list-style: none;
        }

        /* Liste elemanı */
        li {
            display: inline-block; /* veya float: left; */
            margin-right: 10px; /* İstediğiniz aralığı ayarlayabilirsiniz */
        }

        /* başlık özellikleri */
        h2, h4 {
            color: aqua;
        }
    </style>
</head>

<body>

    <div class="container">
        @foreach (var userClaimModel in Model)
        {
            if (userClaimModel.ClaimType == "I")
            {
                <img src="/@userClaimModel.ClaimValue" alt="Profil Resmi" class="profile-picture">
            }
            if (userClaimModel.ClaimType == "H2")
            {
                <h2>@userClaimModel.ClaimValue</h2>
            }
            if (userClaimModel.ClaimType == "P")
            {
                <p>@userClaimModel.ClaimValue</p>
            }
            if (userClaimModel.ClaimType == "BR")
            {
                <br />
            }
            if (userClaimModel.ClaimType == "H4")
            {
                <h4>@userClaimModel.ClaimValue</h4>
            }
            if (userClaimModel.ClaimType == "LI")
            {
                <ul>
                    <li style="list-style:none;display:center;margin-right: 10px;">@userClaimModel.ClaimValue</li>
                </ul>
            }
            <div style="list-style:none;display:center;margin-right: 10px;">
                @if (userClaimModel.ClaimType == "IH")
                {
                    string[] parts = userClaimModel.ClaimValue.Split(' ');
                    string linkUrl = parts[0].Substring(3); // "IH:" kısmını kaldırıyoruz
                    string imageUrl = parts[1].Substring(2); // "I:" kısmını kaldırıyoruz

                    <div class="social-links">
                        <a href="@linkUrl" target="_blank">
                            <img src="/@imageUrl" width="100px" height="60px" alt="Linkedin">
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</body>

</html>
 *@




@using BlogWeb.Mvc.Models.ViewModels.User
@model List<UserClaimModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda - Benim Blogum</title>
    <link rel="stylesheet" href="/About/about.css">
    <style>
        /* İçerik stilleri */
        .container {
            background-color: #1a1a1a;
            color: white;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        /* social-links div'indeki özellikleri */
        .social-links {
            text-align: center;
            margin-top: 30px;
        }
            /* social-links div'indeki paragraf özellikleri */
            .social-links p {
                margin-bottom: 10px;
            }

            /* social-links div'indeki a tag'i özellikleri */
            .social-links a {
                margin-right: 10px;
            }

        /* img etikeitinin stilleri */
        .profile-picture {
            background-color: #1a1a1a; /* Siyahın hafif gri tonu */
            color: white; /* Yazı rengi beyaz */
            border-radius: 50%; /* Yuvarlak kenarlar */
            width: 200px;
            height: 200px;
            object-fit: cover; /* Resmi kırpma */
            margin: 0 auto 20px; /* Alt boşluk ve ortalamak için */
            display: block; /* Blok element */
            border: 5px solid white; /* Beyaz çerçeve */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Gölge */
        }

        /* Liste */
        ul {
            list-style: none;
        }

        /* Liste elemanı */
        li {
            display: inline-block; /* veya float: left; */
            margin-right: 10px; /* İstediğiniz aralığı ayarlayabilirsiniz */
        }

        /* başlık özellikleri */
        h2, h4 {
            color: aqua;
        }
    </style>
</head>

<body>

    <div class="container">
        @foreach (var userClaimModel in Model)
        {
            if (userClaimModel.ClaimType == "I")
            {
                <img src="/@userClaimModel.ClaimValue" alt="Profil Resmi" class="profile-picture">
            }
            if (userClaimModel.ClaimType == "H2")
            {
                <h2>@userClaimModel.ClaimValue</h2>
            }
            if (userClaimModel.ClaimType == "P")
            {
                <p>@userClaimModel.ClaimValue</p>
            }
            if (userClaimModel.ClaimType == "BR")
            {
                <br />
            }
            if (userClaimModel.ClaimType == "H4")
            {
                <h4>@userClaimModel.ClaimValue</h4>
            }
            if (userClaimModel.ClaimType == "LI")
            {
                <ul>
                    <li style="list-style:none;display:center;margin-right: 10px;">@userClaimModel.ClaimValue</li>
                </ul>
            }
            @*    <div style="list-style:none;display:center;margin-right: 10px;">
        @if (userClaimModel.ClaimType == "IH")
        {
        string[] parts = userClaimModel.ClaimValue.Split(' ');
        string linkUrl = parts[0].Substring(3); // "IH:" kısmını kaldırıyoruz
        string imageUrl = parts[1].Substring(2); // "I:" kısmını kaldırıyoruz

        <div class="social-links">
        <a href="@linkUrl" target="_blank">
        <img src="/@imageUrl" width="100px" height="60px" alt="Linkedin">
        </a>
        </div>
        }
        </div> *@
        }
        <div style="list-style:none;display:center;margin-right: 10px;">
            <div class="social-links">
                <a href="https://www.linkedin.com/in/kadirdemirkaya/ I:images/linkedin.png" target="_blank">
                    <img src="~/images/linkedin.png" width="100px" height="60px" alt="Linkedin">
                </a>
                <a href="https://github.com/kadirdemirkaya" target="_blank">
                    <img src="~/images/github.png" width="100px" height="60px" alt="Linkedin">
                </a>
                <a href="mailto:kadirkdr5555@gmail.com I:images/linkedin.png" target="_blank">
                    <img src="~/images/mail.png" width="100px" height="60px" alt="Linkedin">
                </a>
            </div>
        </div>
    </div>
</body>

</html>
